<!DOCTYPE html>
<html ng-app="basketballManager">
  <head>
    <title>Basketball manager</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/components/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="assets/css/components/angular-chart.css">
  </head>
  <body ng-controller="mainController">
    <!-- Header -->
    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <!-- User information -->
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 header__manager-infromation">
            <!-- User name -->
            <p class="header__field_main">{{headerData.userInfo.userName}}</p>
            <!-- User level -->
            <div class="header__field_current-wrapper">
              <p class="header__field_current">{{headerData.userInfo.levelManager.item + ': '}}
                <span class="header__field_current__value">{{headerData.userInfo.levelManager.value}}</span>
              </p>
              <p class="header__field_current">{{headerData.userInfo.playerPosition.item + ': '}}
                <span class="header__field_current__value">{{headerData.userInfo.playerPosition.value}}</span>
              </p>
            </div>
            <!-- User resources -->
            <p class="header__field_bottom">
              <span class="header__field_bottom__icon-wrap">
                <span class="glyphicon glyphicon-user header__field_bottom__icon" aria-hidden="true"></span>
                <span class="header__field_bottom__value">{{headerData.userInfo.playerResources.fans}}</span>
              </span>
              <span class="header__field_bottom__icon-wrap" ng-click="open('money')">
                <span class="glyphicon glyphicon-usd header__field_bottom__icon" aria-hidden="true"></span>
                <span class="header__field_bottom__value">{{headerData.userInfo.playerResources.money}}</span>
              </span>
              <span class="header__field_bottom__icon-wrap" ng-click="open('token')">
                <span class="glyphicon glyphicon-superscript header__field_bottom__icon" aria-hidden="true"></span>
                <span class="header__field_bottom__value">{{headerData.userInfo.playerResources.tokens}}</span>
              </span>
            </p>
          </div>
          <!-- Match's announcment -->
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="row header__announcement">
              <!-- Own team -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 header__announcement__team">
                <h3 class="header__announcement__team__title" data-toggle="tooltip" data-placement="left" title="{{headerData.gameInfo.teams.own.name}}">{{headerData.gameInfo.teams.own.name}}</h3>
                <img ng-src="{{headerData.gameInfo.teams.own.img}}" alt="{{headerData.gameInfo.teams.own.name}}" height="50">
              </div>
              <!-- Match's time -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 header__announcement__match">
                <p class="text-center header__announcement__match__type">{{headerData.gameInfo.typeOfMatch}}</p>
                <p class="text-center text-uppercase header__announcement__match__vs">vs</p>
                <p class="text-center header__announcement__match__date">{{dayOfMatch}}</p>
                <p class="text-center header__announcement__match__time">{{startMatchGMT}}</p>
              </div>
              <!-- Enemy team -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 header__announcement__team">
                <h3 class="header__announcement__team__title" data-toggle="tooltip" data-placement="right" title="{{headerData.gameInfo.teams.enemy.name}}">{{headerData.gameInfo.teams.enemy.name}}</h3>
                <img ng-src="{{headerData.gameInfo.teams.enemy.img}}" alt="{{headerData.gameInfo.teams.enemy.name}}" height="50">
              </div>
            </div>
          </div>
          <!-- Season,events, medicine -->
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 header__season-infromation">
            <!-- Season's information -->
            <p class="header__field_main">{{headerData.gameInfo.seasonGame}}</p>
            <!-- User event -->
            <div class="header__field_current-wrapper">
              <a href="#/training" class="header__field_current-link">
                <p class="header__field_current-event">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  {{headerData.userInfo.userEvent}}
                </p>
               </a>
            </div>
            <!-- User medicine boxes -->
            <p class="header__field_bottom">
              <span class="header__field_bottom__icon-wrap" ng-click="open('firstAid')">
                <span class="glyphicon glyphicon-plus-sign header__field_bottom__icon header__field_bottom__icon_red" aria-hidden="true"></span>
                <span class="header__field_bottom__value">{{headerData.userInfo.medicineBox.red}}</span>
              </span>
              <span class="header__field_bottom__icon-wrap" ng-click="open('moral')">
                <span class="glyphicon glyphicon-plus-sign header__field_bottom__icon header__field_bottom__icon_blue" aria-hidden="true"></span>
                <span class="header__field_bottom__value">{{headerData.userInfo.medicineBox.blue}}</span>
              </span>
              <span class="header__field_bottom__icon-wrap" ng-click="open('relief')">
                <span class="glyphicon glyphicon-plus-sign header__field_bottom__icon header__field_bottom__icon_green" aria-hidden="true"></span>
                <span class="header__field_bottom__value">{{headerData.userInfo.medicineBox.green}}</span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- View -->
    <div class="view-container" ng-view></div>
    <!-- Menu -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Навигация</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="match__beggining">
          <a href="#/match" ng-click="startMatchDisable()"><img src="assets/img/basketbnc.gif" height="100"></a>
        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav game-menu">
          <li ng-repeat="item in menuData" ng-class="{active: isActive(item.link)}"><a href="#{{item.link}}">{{item.title}}</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
    <!-- Libs -->
    <script src="assets/libs/jquery.min.js"></script>
    <script src="assets/libs/jquery-ui.min.js"></script>
    <script src="assets/libs/angular.min.js"></script>
    <script src="assets/libs/bootstrap.min.js"></script>
    <script src="assets/libs/angular-route.min.js"></script>
    <script src="assets/libs/angular-resource.min.js"></script>
    <script src="assets/libs/Chart.min.js"></script>
    <script src="assets/libs/angular-chart.js"></script>
    <script src="assets/libs/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>
    <!-- Scripts -->
    <script src="app/app.module.js"></script>
    <script src="app/app.routes.js"></script>
    <script src="assets/js/tooltip.js"></script>
    <!-- Directives -->
    <script src="app/components/team/teamDirectives.js"></script>
    <!-- Controllers -->
    <script src="app/shared/main/mainController.js"></script>
    <script src="app/shared/modal/resourceModalController.js"></script>
    <script src="app/shared/modal/resourceConfirmController.js"></script>
    <script src="app/components/club/clubController.js"></script>
    <script src="app/shared/graphic/graphicClubSeasonController.js"></script>
    <script src="app/shared/graphic/graphicClubSeasonDayController.js"></script>
    <script src="app/components/team/teamController.js"></script>
    <script src="app/shared/modal/teamModalController.js"></script>
    <script src="app/components/calendar/calendarController.js"></script>
    <script src="app/components/news/newsController.js"></script>
    <script src="app/components/store/storeController.js"></script>
    <script src="app/shared/modal/storeModalController.js"></script>
    <script src="app/components/competition/competitionController.js"></script>
    <script src="app/components/finances/financesController.js"></script>
    <script src="app/components/manager/managerController.js"></script>
    <script src="app/components/stadium/stadiumController.js"></script>
    <script src="app/components/training/trainingController.js"></script>
    <script src="app/components/transfers/transfersController.js"></script>
    <script src="app/components/match/matchController.js"></script>
  </body>
</html>