<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 player-wrapper">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 player__statistic">
    <h4 class="player__statistic__title">{{player.statistic.league.title}}</h4>
    <table class="player__common-data_table">
      <thead></thead>
      <tbody>
        <tr ng-repeat="character in player.statistic.league.items">
          <td class="player__common-data_table__item">{{character.item + ': '}}</td>
          <td class="player__common-data_table__value">{{character.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 player__statistic">
    <h4 class="player__statistic__title">{{player.statistic.championsLeague.title}}</h4>
    <table class="player__common-data_table">
      <thead></thead>
      <tbody>
        <tr ng-repeat="character in player.statistic.championsLeague.items">
          <td class="player__common-data_table__item">{{character.item + ': '}}</td>
          <td class="player__common-data_table__value">{{character.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 player__statistic">
    <h4 class="player__statistic__title">{{player.statistic.cup.title}}</h4>
    <table class="player__common-data_table">
      <thead></thead>
      <tbody>
        <tr ng-repeat="character in player.statistic.cup.items">
          <td class="player__common-data_table__item">{{character.item + ': '}}</td>
          <td class="player__common-data_table__value">{{character.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>