<!-- Overview -->
<div class="container-fluid overview">
  <div class="row">
    <!-- Club -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 club">
      <!-- Club statistic -->
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 club__statistic">
        <table class="club__statistic_table">
          <thead></thead>
          <tbody>
            <tr ng-repeat="statistic in clubStatistic">
              <td class="club__statistic__item">{{statistic.item + ': '}}</td>
              <td class="club__statistic__value">{{statistic.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Club's attributes -->
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 club__attributes">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 club__attributes__item" ng-repeat="attributes in clubAttributes">
          <img ng-src="{{attributes}}" alt="{{attributes}}" height="170">
        </div>
      </div>
    </div>
    <!-- Season -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 season">
      <h4 class="season__title">{{seasonTitle}}</h4>
      <!-- Season's statistic -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 season__statistic">
        <table class="season__statistic_table">
          <thead></thead>
          <tbody>
            <tr>
              <td class="season__statistic__item">{{seasonStatistic.matches.title + ': '}}</td>
              <td class="season__statistic__value">
                <span class="label label-success">{{seasonStatistic.matches.items.wins.item}}</span>
                <span>{{seasonStatistic.matches.items.wins.value}}</span>
                <span class="label label-warning">{{seasonStatistic.matches.items.draw.item}}</span>
                <span>{{seasonStatistic.matches.items.draw.value}}</span>
                <span class="label label-danger">{{seasonStatistic.matches.items.loses.item}}</span>
                <span>{{seasonStatistic.matches.items.loses.value}}</span>
              </td>
            </tr>
            <tr>
              <td class="season__statistic__item">{{seasonStatistic.scoredGoals.item + ': '}}</td>
              <td class="season__statistic__value">{{seasonStatistic.scoredGoals.value}}</td>
            </tr>
            <tr>
              <td class="season__statistic__item">{{seasonStatistic.missedGoals.item + ': '}}</td>
              <td class="season__statistic__value">{{seasonStatistic.missedGoals.value}}</td>
            </tr>
            <tr>
              <td class="season__statistic__item">{{seasonStatistic.averageAttendance.item + ': '}}</td>
              <td class="season__statistic__value">{{seasonStatistic.averageAttendance.value}}</td>
            </tr>
            <tr>
              <td class="season__statistic__item">{{seasonStatistic.winningStreak.item + ': '}}</td>
              <td class="season__statistic__value">{{seasonStatistic.winningStreak.value}}</td>
            </tr>
            <tr>
              <td class="season__statistic__item">{{seasonStatistic.losslessStreak.item + ': '}}</td>
              <td class="season__statistic__value">{{seasonStatistic.losslessStreak.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Players statistic -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 season__player-statistic">
        <table class="season__player-statistic_table">
          <thead></thead>
          <tbody>
            <tr ng-repeat="statistic in playerStatistic">
              <td class="season__player-statistic__item">{{statistic.item + ': '}}</td>
              <td class="season__player-statistic__value">{{statistic.field +' ('+ statistic.value +')'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- In/Out players -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 season__player-in-out">
        <p ng-repeat="category in playerInOut">{{category.item + ': '}}<span>{{category.value.join(', ')}}</span></p>
      </div>
    </div>
  </div>
</div>