<!-- History -->
<div class="container-fluid history">
  <div class="row">
    <!-- Graphics -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 history__graphics">
      <!-- league's position / Season -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 history__graphics__season" ng-controller="graphicClubSeasonController">
        <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series"></canvas>
      </div>
      <!-- league's position / Season's day -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 history__graphics__season-day" ng-controller="graphicClubSeasonDayController">
        <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" click="onClick"></canvas>
      </div>
    </div>
    <!-- General statistic -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 statistic">
      <h4 class="statistic__title">{{generalSeasonTitle}}</h4>
      <!-- General season's statistic -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 season__statistic">
        <table class="season__statistic_table">
          <thead></thead>
          <tbody>
            <tr>
              <td class="season__statistic__item">{{generalStatistic.matches.title + ': '}}</td>
              <td class="season__statistic__value">
                <span class="label label-success">{{generalStatistic.matches.items.wins.item}}</span>
                <span>{{generalStatistic.matches.items.wins.value}}</span>
                <span class="label label-warning">{{generalStatistic.matches.items.draw.item}}</span>
                <span>{{generalStatistic.matches.items.draw.value}}</span>
                <span class="label label-danger">{{generalStatistic.matches.items.loses.item}}</span>
                <span>{{generalStatistic.matches.items.loses.value}}</span>
              </td>
            </tr>
            <tr>
              <td class="season__statistic__item">{{generalStatistic.scoredGoals.item + ': '}}</td>
              <td class="season__statistic__value">{{generalStatistic.scoredGoals.value}}</td>
            </tr>
            <tr>
              <td class="season__statistic__item">{{generalStatistic.missedGoals.item + ': '}}</td>
              <td class="season__statistic__value">{{generalStatistic.missedGoals.value}}</td>
            </tr>
            <tr>
              <td class="season__statistic__item">{{generalStatistic.averageAttendance.item + ': '}}</td>
              <td class="season__statistic__value">{{generalStatistic.averageAttendance.value}}</td>
            </tr>
            <tr>
              <td class="season__statistic__item">{{generalStatistic.winningStreak.item + ': '}}</td>
              <td class="season__statistic__value">{{generalStatistic.winningStreak.value}}</td>
            </tr>
            <tr>
              <td class="season__statistic__item">{{generalStatistic.losslessStreak.item + ': '}}</td>
              <td class="season__statistic__value">{{generalStatistic.losslessStreak.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- General players statistic -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 season__player-statistic">
        <table class="season__player-statistic_table">
          <thead></thead>
          <tbody>
            <tr ng-repeat="statistic in playerGeneralStatistic">
              <td class="season__player-statistic__item">{{statistic.item + ': '}}</td>
              <td class="season__player-statistic__value">{{statistic.field +' ('+ statistic.value +')'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 season__player-statistic">
        <table class="season__player-statistic_table">
          <thead></thead>
          <tbody>
            <tr ng-repeat="title in clubTitles">
              <td class="season__player-statistic__item">{{title.item + ': '}}</td>
              <td class="season__player-statistic__value">{{title.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>