.header {
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__announcement {
  background: #FFF;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 30px 0 0;
}

.header__announcement__match {
  background: #000;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 5px 0;
}

.header__manager-infromation,
.header__season-infromation {
  background: #181918;
  padding: 0;
  height: 140px;
}

.header__field_main {
  background: #F85F4B;
  padding: 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font: italic normal bold 2em/1.5 sans-serif;
}

.header__field_current {
  padding: 0 10px;
  margin: 0;
}
.header__field_current-event {
  padding: 5px 10px;
  margin: 0 0 5px 0;
  font-size: 1.2em;
}

.header__field_current-wrapper {
  background: rgba(255,255,255,0.1);
  margin: 0 0 5px 0;
  height: 45px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header__field_current__value,
.header__field_bottom {
  color: #F85F4B;
}

.header__field_bottom {
  font-size: 1.2em;
  word-spacing: 5px;
  padding: 0 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header__announcement__match__vs {
  color: #F85F4B;
  font: italic normal bold 2.9em sans-serif;
  margin: 10px 0;
}

.header__announcement__match__type {
  color: #F85F4B;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header__announcement__match__date,
.header__announcement__match__time {
  margin: 0;
}

.header__announcement__team {
  color:#000;
  text-align: center;
}
.header__announcement__team__title {
  color:#000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 0 10px 0;
}

.header__field_bottom__icon {
  margin: 0 0 0 15px;
  color: #FFF;
}

.header__field_bottom__icon_red {
  color:#fa4a35;
}
.header__field_bottom__icon_blue {
  color:#3e52fa;
}
.header__field_bottom__icon_green {
  color:#1afa54;
}

.match__beggining {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 50px;
  margin: 0;
  z-index: 1031;
}

@media (max-width: 768px) {
  .header__announcement {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .match__beggining {
    bottom: 65px;
  }
}