<div class="modal-header">
  {{modal.confirmModal.text}}
</div>
<div class="modal-body medkit-packs-wrapper">
  <div class="medkit-packs">
    <span class="glyphicon glyphicon-superscript header__field_bottom__icon header__field_bottom__icon_red medkit-packs__icon" aria-hidden="true"></span>
    <div class="medkit-packs__title">{{item.title}}</div>
  </div>
</div>
<div class="modal-footer">
  <div>{{modal.confirmModal.buyFor + ' ' +item.cost + ' Р'}}</div>
  <button type="button" class="btn btn-primary" ng-click="ok()">VISA</button>
  <button type="button" class="btn btn-primary" ng-click="ok()">MASTERCARD</button>
</div>