<div class="modal-header">
	<h3 class="modal-title">{{modalTitle}}</h3>
</div>
<div class="modal-body">
	<img ng-src="{{icon}}" alt="{{title}}" height="150">
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()" ng-repeat="(key,value) in price">
		{{buyFor + ' '}}
		<span class="glyphicon glyphicon-superscript store__slide__item__price__icon" aria-hidden="true" ng-show="key == 'token'"></span>
		<span class="glyphicon glyphicon-usd store__slide__item__price__icon" aria-hidden="true" ng-show="key == 'money'"></span>
		{{value}}
	</button>
</div>
